@tailwind base;
@tailwind components;
@tailwind utilities;


.slide1{
    background-image: url('/src/images/Bharat\ Bhava.jpeg');
}

.slide2{
    background-image: url('/src/images/3ed1e1_51a365693e3446f5a2f05dea05db3694~mv2.webp');
}

.slide3{
    background-image: url('/src/images/GettyImages-1209043652-1ed6c26abe88472b9ed3239297a3ab6a.jpg');
}

.slide4{
    background-image: url('/src/images/Hluboka-entrance-hall-768x576.webp');
}

.slide5{
    background-image: url('/src/images/indian_museum_jaipur.jpg');
}